<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NEYOS</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon" type="image/x-icon" href="../public/img/Fichier 12Recharge.png">
</head>
<body>
    <div class="min-h-screen space-y-4 mx-auto p-3 flex flex-col align-center" style="background-image: url('../public/img/Splash-600.jpg');">
        <section class="mx-auto w-[50%] flex flex-col justify-center space-y-4">
            <img src="../public/img/Fichier 12Recharge.png" alt="" srcset="" class="h-[60px] w-[60px] self-center">
            <h1 class="text-4xl text-white text-center">NEYOS API</h1>
        </section>

        <div class="bg-neutral-800 space-y-4 mx-auto w-[50%] p-4 rounded shadow-sm">
            <details class="text-neutral-200 ">
                <summary class="bg-green-600 p-3 rounded text-white">Authorisation d'utilisation d'API</summary>
                <p>Avant d'utiliser l'API NEYOS , il vous faut trois éléments essentiels : le token refresh, le token access et l'api domain. Ce <a target="_blank" class="text-blue-500" href="http://localhost:3000/authorization-request">guide</a> simplifié vous sera utile.</p>
            </details>
        </div>
    </div>
    
</body>
</html>